:root {     
    --pixel-size: 5px;
    --pixel-font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 80vw;
  height: auto;
}

img[src="hideme"] {
  display: none;
}

#txt-output {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

#txt-output > div {
    display: flex;
    flex-direction: row;
}

#txt-output > div > * {
    font-size: var(--pixel-font-size);
    width: var(--pixel-size);
    height: var(--pixel-size);
}